#bg-image {
  width: auto;
  filter: blur(2px);
  max-height: 400px;
  min-height: 400px;
}

#bg-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  text-align: center;
}

body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/967d2ce8-6e11-4a3b-9d03-ddd0f78316c5/d97lj1m-7baf0662-c4ba-4538-9463-2cd371595a3c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTpmaWxlLmRvd25sb2FkIl0sIm9iaiI6W1t7InBhdGgiOiIvZi85NjdkMmNlOC02ZTExLTRhM2ItOWQwMy1kZGQwZjc4MzE2YzUvZDk3bGoxbS03YmFmMDY2Mi1jNGJhLTQ1MzgtOTQ2My0yY2QzNzE1OTVhM2MuanBnIn1dXX0.SBxgKvRiutcLrio37CesqmBPub5GR-dAJAqZh1N8WOs);
  background-size: auto;
  background-position: center;
}
